@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'El Messiri', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #162831;
    color: #ffffff;
}

.container {
  width: 1298px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}



@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/first-screen';
