.reviews {
  padding-top: 80px;
  &__carousel {
    margin-top: 100px;
  }
  &__descr {
    width: 836px;
    margin: 0 auto;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
  &__info {
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
  }
}


.swiper {
  width: 1136px;
  height: 200px;
}


@media (max-width: 1200px) {
  .swiper {
    width: 920px;
  }
}

@media (max-width: 992px) {
  .swiper {
    width: 520px;
    height: 270px;
  }
  .reviews {
    &__carousel {
      margin-top: 70px;
    }
    &__descr {
      width: 500px;
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .swiper {
      width: 300px;
      height: 430px;
    }
  
    .reviews {
      .title {
        font-size: 21px;
      }
      &__carousel {
        margin-top: 40px;
      }
  
      &__descr {
        width: 280px;
      }
    }
}