.title {
  font-weight: 700;
  font-size: 42px;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .title {
      font-size: 29px;
    }
}

@media (max-width: 767px) {
  .title {
      font-size: 17px;
    }
}

@media (max-width: 576px) {
  .title {
      font-size: 11px;
    }
}