.wrappers {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

@media (max-width: 1440px) {
  .wrappers {
    width: 615px;
    margin: 0 auto;

    h2 {
      font-size: 40px;
    }
  }
}

@media (max-width: 1200px) {
    .wrappers {
        width: 615px;
        margin: 0 auto;
    
        h2 {
          font-size: 40px;
        }
      }
}

@media (max-width: 992px) {
  .wrappers {
      width: 715px;
      margin: 0 auto;
      h2 {
        font-size: 60px;
      }
    }
}

@media (max-width: 768px) {
  .wrappers {
      width: 510px;
      margin: 0 auto;

      h2 {
        font-size: 40px;
      }
    }
}

@media (max-width: 576px) {
  .wrappers {
    width: 260px;
    margin: 0 auto;
    h2 {
      font-size: 20px;
    }
  }
}